<nav>
    <ul>
        <li>@Html.ActionLink("Overview", "Index", "Admin")</li>
        <li>@Html.ActionLink("Books", "Books", "Admin")</li>
        <li>@Html.ActionLink("Authors", "Authors", "Admin")</li>
        <li>@Html.ActionLink("Genres", "Genres", "Admin")</li>
        <li>&nbsp;</li>
        <li>@Html.ActionLink("Return to Shop", "Index", "Home")</li>
    </ul>
</nav>
